<head>
  <script src="bower_components/webcomponentsjs/webcomponents-loader.js"></script>
  <script type="module" src="./progress-bar.js"></script>
</head>
<body>
  <progress-bar></progress-bar>
</body>
